
.titulos{

    text-align: center;
    color:lightgoldenrodyellow;

}

.bio{
    font-style: oblique;
    font-size: 20px;
    text-align: justify;
    margin: 20px;
    border-radius: 9px;
    padding: 14px;



}

.imagem{
    border-radius: 20px;
}

.imagens{
    border-radius: 20px;
    
}

.itens{
    margin-bottom:1em;

}
.links:hover{
    color:rgb(16, 139, 196);
}

.links{
    color:blue;
    text-align: center;

}

.estilo-tabela{
    background-color:white;
    width:30%;
    
    
    
}

.temas{
    background-color:rgb(12, 129, 133)
}

.linha{
    background-color:rgb(117, 214, 201);
    border-style:double;
}